.bgimg{
    background-image: url('../image.webp');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;
}
.headerset{
    padding-top: 250px;
    box-sizing: border-box;

}
.headerset h2{
    font-size: 42px;
}
.headerset h1{
    font-size: 80px;
    font-weight: bold;
}

.ourservices{
    padding: 100px 0px 60px;
    height: 600px;

}

.ourservices h1{
    font-size: 50px;
    font-weight: bold;
}
.main{
    font-weight: bold;
}
.rowsetting{
    margin:80px 0px !important;

}
.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.fa-shopping-cart{
    margin-top: 25px;
}
.fa-desktop{
    margin-top: 26px;
}
.fa-lock{
    margin-top: 25px;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.rowsetting p{
    padding: 10px;
   color: #ffc107!important;
}
.card{
    height: 20%;
    width: 30%;
    
}
.portfolio{
    height: 1100px;
    width: 100%;
    padding: 100px 0px 50px;
}
.portfolio h1{
    font-size: 50px;
    font-weight: bold;

}
.card{
    margin-top: 40px;
}
/*our team*/
.ourteam{
    height: 700px;
    padding: 100px 0px 60px;
    width: 100%;
}
.ourteam h1{
    font-size: 50px;
    font-weight: bold;
}
.teamsetting{
    margin: 50px !important;
}
/*footer*/
.footer{
    height: 50px;
}
.footer h6{
    line-height: 50px;
}
/*Responsive*/
@media(min-width:992px){

}
@media(min-width:768px  ) and (max-width:991px){

}
@media(min-width:575px) and (max-width:767px){

}
@media(min-width:460px) and (max-width:574px){

}
@media(max-width:459px){
    .headerset h2{
        font-size: 22px;
    }
    .headerset h1{
        font-size: 42px;
        font-weight: bold;
    }
    .ourservices{
        height: 1200px;
    }
    .portfolio{
        height: 2700px;
    }
.ourteam{
    height: 1400px;
}
    
    
    
    
    

}

